.container {
  margin: auto;
  width: 600px;

  padding: 8px;
}

.messagesBlock {
  width: 100%;
  height: 200px;
  padding: 20px;
  background-color: ghostwhite;
}

.messageInput {
  margin-bottom: 20px;
  margin-top: 20px;
}
