doctype html
head
    meta(charset='utf-8')
p &Vcy;&khcy;&ocy;&dcy;
form#login-form
    div
        label(for='email') Email
        input#email(type='email' name='email')
    div
        label(for='password') Password
        input#password(type='password' name='password')
    button#login-btn &Vcy;&ocy;&jcy;&tcy;&icy;
ul#messages
script(src='main.js')
